@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white!important;
}

button {
    background-color: #57f892 !important;
}

a {
    color: #57f892 !important;
}

.my-green-bg {
    background-color: #57f892 !important;
    color: white !important;
}